@page
@model Navistar2.Pages.myDeptDetail.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DepartmentDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentDetail.Month)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentDetail.Month)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentDetail.Approved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentDetail.Approved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentDetail.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentDetail.Employee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentDetail.Contractor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentDetail.Contractor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentDetail.Open)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentDetail.Open)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DepartmentDetail.DDID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
